<h1>Sign in 登陆</h1>

<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email 邮箱</label>
    <input id="email_box" name="query_email" placeholder="example@gmail.com..." type="text">
  </div>

  <div>
    <label for="password_box">Password 密码</label>
    <input id="password_box" name="query_password" placeholder="Password 密码..." type="password">
  </div>

  <button>
    Sign in 登陆
  </button>
</form>

<hr>

<p>
  Or 或者, <a href="/user_sign_up">Sign up 注册</a>.
</p>
