<h1>Sign up 注册</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="username_box">Username 用户名</label>
    <input type="text" id="username_box" name="query_username" placeholder="Charlie 张三...">
  </div>
  <div>
    <label for="email_box">Email 邮箱</label>
    <input id="email_box" name="query_email" placeholder="example@gmail.com" type="text">
  </div>
  <div>
    <label for="private_box">Private 隐私</label>
    <input id="private_box" name="query_private" type="checkbox">
  </div>
  <div>
    <label for="password_box">Password 密码</label>
    <input id="password_box" name="query_password" placeholder="Password 密码..." type="password">
  </div>
  <div>
    <label for="password_confirmation_box">Password Confirmation 再次确认密码</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirmation 确认..." type="password">
  </div>

  <button>
    Sign up 注册
  </button>
</form>

<hr>

<p>
  Or 或者, <a href="/user_sign_in">Sign in 登陆</a>.
</p>
