<!DOCTYPE html>
<html>
  

  <body>
  <h1>Welcome to Photogram! 欢迎来到小蓝书！</h1>
  <h2>A place to share inspirations. 一个分享灵感的家。</h2>

<ul>
  <li>
    <a href="/users">
      All Users (所有用户)
    </a>
  </li>
  <li>
    <a href="/photos">
      All Public Photos (所有照片)
    </a>
  </li>
</ul>

    <footer>
      <small>
        This product is an academic project not for commercial use.
      </small>
    </footer>
  </body>
</html>