<!DOCTYPE html>
<html>
  <body>
  <% if @current_user %>
  <h1 class="text-info"><%= @current_user.username %>, welcome to Photogram! 欢迎来到小蓝书！</h1>
  <h2 class="text-info">A place to share inspirations. 一个分享灵感的家。</h2>
  <% else %>
  <h1 class="text-info">Welcome to Photogram! 欢迎来到小蓝书！</h1>
  <h2 class="text-info">A place to share inspirations. 一个分享灵感的家。</h2>
  <% end %>

<ul>
  <li>
  <button>
    <a class="text-dark" href="/users">
      All Users 所有用户
    </a>
  </button>
  </li>
  <li>
  <button>
    <a class="text-dark" href="/photos">
      All Public Photos 所有照片
    </a>
  </button>
  </li>
  <li>
  <button>
    <a class="text-dark" href="https://xie-rps-app.herokuapp.com/">
      Play a Game 玩小游戏
    </a>
  </button>
  </li>
</ul>

    <footer>
      <small>
        This product is not for commercial use. 严禁商用。
      </small>
    </footer>
  </body>
</html>